<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/web/master">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-12 order-2 order-lg-1 md-mt-40 sm-mt-40">
                        <div class="shop__sidebar">
                            <aside class="wedget__categories poroduct--cat">
                                <h3 class="wedget__title">Product Categories</h3>
                                <ul th:each="cate: ${category}">
                                    <li><a href="#">[[${cate.name}]]</a></li>
                                </ul>
                            </aside>
                            <aside class="wedget__categories pro--range">
                                <h3 class="wedget__title">Filter by price</h3>
                                <div class="content-shopby">
                                    <div class="price_filter s-filter clear">
                                        <form action="#" method="GET">
                                            <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 20.4082%; width: 59.1837%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 20.4082%;"></span><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 79.5918%;"></span></div>
                                            <div class="slider__range--output">
                                                <div class="price__output--wrap">
                                                    <div class="price--output">
                                                        <span>Price :</span><input type="text" id="amount" readonly="">
                                                    </div>
                                                    <div class="price--filter">
                                                        <a href="#">Filter</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                    <div class="col-lg-9 col-12 order-1 order-lg-2">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="shop__list__wrapper d-flex flex-wrap flex-md-nowrap justify-content-between">
                                    <div class="shop__list nav justify-content-center" role="tablist">
                                        <a class="nav-item nav-link active" data-toggle="tab" href="#nav-grid" role="tab" aria-selected="false"><i class="fa fa-th"></i></a>
                                    </div>
                                    <div class="orderby__wrapper">
                                        <span>Sort By</span>
                                        <select class="shot__byselect">
                                            <option>Default sorting</option>
                                            <option>Price Asc</option>
                                            <option>Price DESC</option>
                                            <option>Clothes</option>
                                            <option>Shoes</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab__container">
                            <div class="shop-grid tab-pane fade active show" id="nav-grid" role="tabpanel">
                                <div class="row">
                                    <!-- Start Single Product -->
                                    <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12" th:each="item : ${product}">
                                        <div class="product__thumb">
                                            <a class="first__img" th:href="@{'/home-page/product/'+${item.id}}"><img th:src="@{'../image/clothes/'+${item.image}}" alt="product image"></a>
<!--                                            <a class="second__img animation1" href="single-product.html"><img src="images/books/2.jpg" alt="product image"></a>-->
                                            <div class="hot__box">
                                                <span class="hot-label">HOT</span>
                                            </div>
                                        </div>
                                        <div class="product__content content--center">
                                            <h4><a href="single-product.html">[[${item.name}]]</a></h4>
                                            <ul class="prize d-flex">
                                                <li>[[${item.price}]] <span class="text-danger">$</span></li>
                                            </ul>
                                            <div class="action">
                                                <div class="actions_inner">
                                                    <ul class="add_to_links">
<!--                                                        <li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>-->
                                                        <li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
<!--                                                        <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>-->
<!--                                                        <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>-->
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product__hover--content">
                                                <ul class="rating d-flex">
                                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
<!--                                    &lt;!&ndash; End Single Product &ndash;&gt;-->
<!--                                <ul class="wn__pagination">-->
<!--                                    <li class="active"><a href="#">1</a></li>-->
<!--                                    <li><a href="#">2</a></li>-->
<!--                                    <li><a href="#">3</a></li>-->
<!--                                    <li><a href="#">4</a></li>-->
<!--                                    <li><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>-->
<!--                                </ul>-->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>