<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home | Bookshop Responsive Bootstrap4 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" th:href="@{/web/images/favicon.ico}">
    <link rel="apple-touch-icon" th:href="@{/web/images/icon.png}">

    <!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" th:href="@{/web/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/web/css/plugins.css}">
    <link rel="stylesheet" th:href="@{/web/style.css}">

    <!-- Cusom css -->
    <link rel="stylesheet" th:href="@{/web/css/custom.css}">

    <!-- Modernizer js -->
    <script th:src="@{/web/js/vendor/modernizr-3.5.0.min.js}"></script>
</head>
<body>
<!-- Main wrapper -->
<div class="wrapper" id="wrapper">
    <!-- Header -->
    <div th:replace="~{/web/shared/_header::header}"></div>
    <!-- Start Slider area -->
    <div th:replace="~{/web/shared/_slide::slide-bar}"></div>
    <!-- End Slider area -->
    <!-- body-->
    <div layout:fragment="content"></div>
    <!-- body -->
    <!-- Start Recent Post Area -->
    <section class="wn__recent__post bg--gray ptb--80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__title text-center">
                        <h2 class="title__be--2">Our <span class="color--theme">Blog</span></h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered lebmid alteration in some ledmid form</p>
                    </div>
                </div>
            </div>
            <div class="row mt--50">
                <div class="col-md-6 col-lg-4 col-sm-12">
                    <div class="post__itam">
                        <div class="content">
                            <h3><a href="blog-details.html">International activities of the Frankfurt Book </a></h3>
                            <p>We are proud to announce the very first the edition of the frankfurt news.We are proud to announce the very first of  edition of the fault frankfurt news for us.</p>
                            <div class="post__time">
                                <span class="day">Dec 06, 18</span>
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#"><i class="bi bi-love"></i>72</a></li>
                                        <li><a href="#"><i class="bi bi-chat-bubble"></i>27</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-12">
                    <div class="post__itam">
                        <div class="content">
                            <h3><a href="blog-details.html">Reading has a signficant info  number of benefits</a></h3>
                            <p>Find all the information you need to ensure your experience.Find all the information you need to ensure your experience . Find all the information you of.</p>
                            <div class="post__time">
                                <span class="day">Mar 08, 18</span>
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#"><i class="bi bi-love"></i>72</a></li>
                                        <li><a href="#"><i class="bi bi-chat-bubble"></i>27</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-12">
                    <div class="post__itam">
                        <div class="content">
                            <h3><a href="blog-details.html">The London Book Fair is to be packed with exciting </a></h3>
                            <p>The London Book Fair is the global area inon marketplace for rights negotiation.The year  London Book Fair is the global area inon forg marketplace for rights.</p>
                            <div class="post__time">
                                <span class="day">Nov 11, 18</span>
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#"><i class="bi bi-love"></i>72</a></li>
                                        <li><a href="#"><i class="bi bi-chat-bubble"></i>27</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Recent Post Area -->
    <!-- Best Sale Area -->
    <!-- Footer Area -->
    <div th:replace="~{/web/shared/_footer::footer}"></div>
    <!-- //Footer Area -->
</div>
<!-- //Main wrapper -->

<!-- JS Files -->
<script th:src="@{/web/js/vendor/jquery-3.2.1.min.js}"></script>
<script th:src="@{/web/js/popper.min.js}"></script>
<script th:src="@{/web/js/bootstrap.min.js}"></script>
<script th:src="@{/web/js/plugins.js}"></script>
<script th:src="@{/web/js/active.js}"></script>
<script type="text/javascript"
        src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script>
    $.validator.addMethod('phone', function (value, element) {
    return this.optional(element) || /((09|03|07|08|05)+([0-9]{8})\b)/.test(value);
}, "Please enter a valid phone number");

$(document).ready(function() {
    $('#RegisterForm').validate({
        rules : {
            name : {
                required : true,
                maxLength: 50
            },
            email : {
                required : true,
                email: true
            },
            phone : {
                required : true,
                phone: true
            },
            password : {
                required : true,
                minlength: 8
            },
            confirm : {
                required : true,
                equalTo:'#password'
            },
            address : {
                required : true,
                minlength: 8
            },

        },
        messages : {
        }
    });
    $('#loginForm').validate({
        rules : {

            email : {
                required : true,
                email: true
            },

            password : {
                required : true,

            },
        },
        messages : {
        }
    });
});</script>
</body>
</html>